{% extends 'layout_admin.html.twig' %}

{% block title %}Gestion des lieux{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-4">Gestion des Lieux</h1>
        <div class="text-end my-3">
            <a class="btn btn-danger" href="{{ path('app_admin_home') }}">Retour</a>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for key, location in locations %}
                    <tr>
                        <th>{{ key + 1 }}</th>
                        <td>{{ location.name }}</td>
                        <td>{{ location.address }}</td>
                        <td>{{ location.postCode }}</td>
                        <td>{{ location.city }}</td>
                        <td><a href="#">Modifier</a></td>
                        <td><a href="#">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
