{% extends 'layout.html.twig' %}

{% block title %}Kimanjou{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Kimanjou</h1>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center align-middle"></th>
                    {% for key, day in week %}
                        <th class="text-center">
                            <div>{{ days[key] }}</div>
                            <div>{{ day|date("d/m/Y") }}</div>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for it, user in users %}
                    <tr>
                        <th class="align-middle d-flex">
                            <div>
                                <img class="profile-picture" src="{{ user.profilePicture != '' ?
                                asset('uploads/profile_pictures/' ~ user.profilePicture) :
                                asset('build/images/profile_picture.4e2b491b.png') }}" alt="Image de profil">
                            </div>
                            <div class="align-self-center">{{ user.nickName }}</div>
                        </th>
                        {% for history in histories %}
                            {% if (history[it]) %}
                                <td class="align-middle"><img class="location-picture" src="{{ user.profilePicture != '' ?
                                    asset('uploads/location_pictures/' ~ history[it].location.locationPicture) :
                                    asset('build/images/profile_picture.4e2b491b.png') }}" alt="Image du lieu">{{ history[it].location.name }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="mapDesactivate"></div>
    <script>

        const map = L.map('map').setView([51.505, -0.09], 13);

        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

    </script>
{% endblock %}
