{% extends 'layout_admin.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('admin') }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4">Gestion des utilisateurs</h1>
    <div class="text-end my-3">
        <a class="btn btn-primary" href="{{ path('app_register') }}">Ajouter</a>
        <a class="btn btn-danger" href="{{ path('app_admin_home') }}">Retour</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Surnom</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for key, user in users %}
                <tr>
                    <th onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'">{{ key + 1 }}</th>
                    <th onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'"><div><img class="profile-picture" src="{{ user.profilePicture != '' ?
                            asset('uploads/profile_pictures/' ~ user.profilePicture) :
                            asset('build/images/profile_picture.4e2b491b.png') }}" alt="Image de profil">
                        </div></th>
                    <td onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'">{{ user.lastName }}</td>
                    <td onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'">{{ user.firstName }}</td>
                    <td onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'">{{ user.nickName }}</td>
                    <td onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'">{{ user.email }}</td>
                    <td onclick="window.location='{{ path('app_admin_user_edit', {'id': user.id}) }}'">{{ user.roles[0] == 'ROLE_USER' ? 'Utilisateur' : 'Administrateur' }}</td>
                    <td>{{ include('admin_user/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
